<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Imageroller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>367B38B61D94C0C800FAECC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367B38CA1D94C0C900FAECC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367B38D51D94C0C900FAECC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
